# This is a basic workflow to help you get started with Actions

name: CI 
run-name: Sandbox pipeline - Branch `${{ github.event.client_payload.branch_ref }}` - On `${{ github.event.client_payload.time }}` - Commit `${{ github.event.client_payload.commit }}` Run by `${{ github.actor }}`
on:
    repository_dispatch:
      types: [travis_trigger]
    workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  variables-definitions:
    # The type of runner that the job will run on
    if: ${{ contains(fromJSON('["master", "actions"]'), github.event.client_payload.branch_ref) }}
    runs-on: test
    steps:
      - name: Define variables
        id: vardef
        run: |
          printenv
          if  [[ "${{ github.event.client_payload.branch_ref }}" == "master" ]]; then
            echo "varfile=prod.tfvars" >> $GITHUB_OUTPUT
            echo "host=test" >> $GITHUB_OUTPUT
          else
            echo "varfile=sandbox.tfvars" >> $GITHUB_OUTPUT
            echo "host=test" >> $GITHUB_OUTPUT
          fi
    outputs:
      varfile: ${{ steps.vardef.outputs.varfile }}
      host: ${{ steps.vardef.outputs.host }}

  build:
    # The type of runner that the job will run on
    needs: variables-definitions
    env:
      VARFILE: ${{needs.variables-definitions.outputs.varfile}}
      HOST: ${{needs.variables-definitions.outputs.host}}
      BRANCH_REF: ${{ github.event.client_payload.branch_ref }}
    runs-on: ${{needs.variables-definitions.outputs.host}}
    if: ${{ contains(fromJSON('["actions"]'), github.event.client_payload.branch_ref) }}
    steps:
      - uses: actions/checkout@v4
        with:
            fetch-depth: 0
            ref: "${{ env.BRANCH_REF }}"

      - name: Run a one-line script
        env:
          BRANCH: "${{ env.BRANCH_REF }}"
        run: echo $BRANCH; tail -5 Jenkinsfile
        
      - name: Run sandbox echo
        run: |
          echo $GITHUB_CONTEXT
          echo "This is ${{ env.BRANCH_REF }}" > $VARFILE
          ls -l $VARFILE
          cat $VARFILE
          echo $HOST

  master-build:
    # The type of runner that the job will run on
    needs: variables-definitions
    env:
      VARFILE: ${{needs.variables-definitions.outputs.varfile}}
      HOST: ${{needs.variables-definitions.outputs.host}}
      BRANCH_REF: ${{ github.event.client_payload.branch_ref }}
    runs-on: ${{needs.variables-definitions.outputs.host}}
    environment: prod
    steps:
      - uses: actions/checkout@v4
        with:
            fetch-depth: 0
            ref: "${{ env.BRANCH_REF }}"

      - name: Run a one-line script
        env:
          BRANCH: "${{ env.BRANCH_REF }}"
        run: echo $BRANCH; tail -5 Jenkinsfile